* {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #131313;
  border: 15px solid #f2f2f2;
  height: 100vh;
  color: #f2f2f2;
  overflow: hidden;
}

.container-fluid {
  padding: 10px;
}

.my-content {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-content .hi {
  margin: 0;
  font-size: 14pt;
}

.my-content .my-name {
  font-size: 22pt;
}

.my-content .i-am {
  font-size: 18pt;
}

.btn-actions {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 0;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  transition: .4s;
}

.btn-actions:hover {
  transform: scale(1.2);
  color: black;
  background: #fff;
}

.my-knowledges, .who-am-i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-knowledges {
  min-height: 100vh;
}

.my-knowledges .row {
  width: 80%;
}

.who-am-i {
  flex-direction: column;
}

.who-am-i p {
  font-size: 15pt;
}

.who-am-i .email a {
  font-size: 16pt;
  color: #988be8;
}

.who-am-i .links {
  color: #fff;
  transition: all .4s;
  transform: translateY(0);
  display: block;
}

.who-am-i .links:hover {
  transform: translateY(-5px);
  text-decoration: none;
  color: #988be8;
}

.who-am-i .links-row {
  width: 50%;
}

.my-modal {
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
  width: calc(100% - 30px);
  background-color: #131313;
}

.my-modal .title {
  font-size: 18pt;
  margin: 15px;
  margin-right: 50px;
}

.my-modal .close-button {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  overflow-y: auto;
}

.devicon {
  font-size: 30pt;
}

.row > * {
  margin-top: 15px;
}

@media (max-width: 576px) {
  .my-knowledges .row, .who-am-i .links-row {
    width: 100%;
  }
  .my-modal .title {
    font-size: 15pt;
  }
  .who-am-i p {
    font-size: 12pt;
  }
}
